.product-list__container {
  width: 240px;
  height: 100vh;
  border-right: 1px solid #a8a8a8;
}

.product__card {
  padding: 8px 16px;
  margin: 16px 8px;
  display: flex;
  justify-content: space-between;
}

.product__card__add-product {
  padding: 8px 16px;
  margin: 16px 8px;
  display: flex;
  justify-content: center;
  background-color: #7fb913 !important;
  color: #fff !important;
}
