.product-list__container {
  width: 240px;
  height: 100vh;
}

.product__card {
  padding: 8px 16px;
  margin: 8px 0;
}

.product__card--centered {
  padding: 8px 16px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
}
